#playQuiz {
    margin-top: 75px;
    height: 100px;
}

#questionBox {
    display: none;
}

#title {
    margin-top: 15%;
}

@media only screen and (max-width: 768px) {
    #title {
        font-size: 50px;
        font-weight: bold;
    }    