.answerGroup {
    width: 440px;
    height: 150px;
    border-width: 5px;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

#playQuiz {
    margin-top: 75px;
    height: 200px;
   width: -webkit-fill-available; 
}

#questionBox {
    display: none;
    margin-top: 75px;
    height: 200px;
}

#title {
    font-size: 50px;
    font-weight: bold;
    margin-top: 5%;
}

@media only screen and (max-width: 768px) {
    .answerGroup {
        width: 240px;
        height: 250px;
    }

    #title {
        margin-top: 10%;
    }    
}

@media only screen and (max-width: 400px) {
    .answerGroup {
        width: 125px;
        height: 125px;
    }

    #title {
        margin-top: 15%;
    }    
}