.hide {
    display: none;
}

.show {
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .answerGroup {
        width: 240px;
        height: 250px;
    }

    #title {
        margin-top: 10%;
    }    
}

@media only screen and (max-width: 400px) {
    .answerGroup {
        width: 125px;
        height: 125px;
    }

    #title {
        margin-top: 15%;
    }    
}